video {
  display: none;
  @media (min-width: 768px){
    width: 100%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }
}
section.first {
  background: url("../image/header.png")  no-repeat center center;
  background-size: cover;
  overflow: hidden;
  @media (min-width: 768px) {
    background-image: none;
  }
  div.wrapper {
    text-align: center;
    padding-top: 20%;
    @media (min-width: 768px){
      padding-top: 30%;
    }
  }
  a:link, a:visited {
    color: #ffffff;
    background-color: #2ecc71;
    padding: 1% 2%;
    border-radius: 50%;
    margin: auto;
    border: none;
    @media (min-width: 768px){
      font-size: 3rem;
      padding: 1.5% 2%;
    }
  }
  a:hover {
    background-color: #1e491e;
  }
  h2 {
    color: #ffffff;
    font-size: 3.5rem;
    letter-spacing: 0.27px;
    padding-bottom: 20%;
    padding-top: 0;
    @media (min-width: 576px) {
      font-size: 4rem;
      line-height: 4rem;
    }
    @media (min-width: 768px) {
      font-size: 4rem;
      padding-bottom: 3%;
      padding-top: 0;
    }
  }
}
